@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
    margin: 0;
    background-color: #1a1a1a;
    background-image: linear-gradient(#202020, rgb(48, 48, 48));
}

#nav {
    background-color: #121212;
    padding: 0.5em 0 1em 2em;
    z-index: 1;
}

#nav-login {
    display: inline-block;
    margin-left: auto;
}

#nav-login a {
    text-decoration: none;
    font-weight: 600;
}

#title {
    font-family: 'Mulish', sans-serif;
    color: whitesmoke;
    font-size: 5em;
}

#title-cupom {
    font-weight: 900;
    /*background-color: #cc0c0c;
    background-image: linear-gradient(to right, #c1121f , red);
    background-clip: text;*/
    color: #cc0c0c;
}

#title-mania {
    font-weight: 400;
    font-style: italic;
}

#descrip {
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
}

#descrip > em {
    color: #F0A202;
}

nav {
    background-color: #4a4a4a;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    z-index: 0;
    padding: 0.5em;
}

nav > li {
    padding: 0.5em 1em;
}

#border-above-nav {
    display: block;
    height: 5px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgb(236, 124, 18) , rgb(245, 155, 20));
}

.titles-body {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-size: large;
    padding: 1em 0em 1em 2em;
    border-radius: 10px 10px 0px 0px;
    background-image: linear-gradient(to right, #cc0c0c , #c1121f);
    text-transform: uppercase;
}

.container {
    background-color: #1a1a1a;
    border-radius: 10px 10px 10px 10px;
    margin: 2em;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.container-flex {
    display: flex;
    flex-flow: row wrap;
}

.new-item {
    border: 1px solid #ffffff1c;
    padding: 2em;
    margin: 1em;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    min-width: 0;
}

.new-item > div {
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding-bottom: 0.5em;
}

.new-item > img {
    width: 10em;
    padding-bottom: 2em;
    display: block;
    margin: auto;
}

.discount {
    margin-bottom: 0.5em;
    width: 5em;
    height: 1em;
    background-image: linear-gradient(to right, #cc0c0c , red);
    padding: 0.5em;
    border-radius: 2px;
    color: whitesmoke;
    margin-left: auto;
    text-align: center;
}

.container-nome {
    height: 46px;
}

.price-outdated {
    font-size: small;
    font-weight: normal;
    text-decoration: line-through;
    display: block;
    color: rgba(245, 245, 245, 0.589);
}

.price-sign {
    font-weight: 400;
    color: #F18805;
}

.price-value {
    color: #F18805;
    font-weight: 900;
    font-size: x-large;
}

.coupon-button {
    padding: 1em;
    /* color: #F0A202; */
    color: rgba(245, 245, 245, 0.856);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    border: 1px solid rgba(245, 245, 245, 0.37);
    border-radius: 10px 10px 10px 10px;
    display: block;
    margin: auto;
}

.coupon-button a {
    transition: 0.3s;
    text-decoration: none;
}

.coupon-button a:hover {
    color: #c1121f;
    text-decoration: none;
}

button {
    background: transparent;
    border: 0;
    outline:0;
}

.arrow {
    cursor: pointer;
}
  
.left {
    left: 42%;
}
  
.right {
    left: 58%;
}
  
.left:hover polyline, .left:focus polyline {
    stroke-width: 3;
}
  
.left:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
}
  
.right:hover polyline, .right:focus polyline {
    stroke-width: 3;
}
  
.right:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
}
  
polyline {
    transition: all 250ms ease-in-out;
}

a {
    color: #F0A202;
    font-family: 'Roboto', sans-serif;
}

.backToHome {
    text-decoration: none;
}