@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
    margin: 0;
    background-color: #1a1a1a;
}

#nav {
    background-color: #121212;
    border-bottom: 5px solid #F0A202;
    padding: 0.5em 0 1em 2em;
    z-index: 1;
}

#nav-login {
    display: inline-block;
    margin-left: auto;
    background-color: #F0A202;
}

#title {
    font-family: 'Mulish', sans-serif;
    color: whitesmoke;
    font-size: 5em;
}

#title-cupom {
    font-weight: 900;
    /*background-color: #cc0c0c;
    background-image: linear-gradient(to right, #c1121f , red);
    background-clip: text;*/
    color: #cc0c0c;
}

#title-mania {
    font-weight: 400;
    font-style: italic;
}

#descrip {
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
}

#descrip > em {
    color: #F0A202;
}

nav {
    background-color: #4a4a4a;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    z-index: 0;
    padding: 0.5em;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
    color: #ffac06;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #f5bb47;
    font-weight: normal;
    font-size: small;
}

form {
    text-align: center;
}

label {
    font-family: 'Roboto', sans-serif;
    color: #eee;
}

table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table th {
    background-color: #F0A202;
    padding: 10px;
}

table th, td {
    border: 2px solid #F0A202;
}

table td {
    background-color: #333533;
    color: aliceblue;
}

a {
    color: #F0A202;
    font-family: 'Roboto', sans-serif;
}

.backToHome {
    text-decoration: none;
}

.backToHomeP {
    font-size: small;
    font-weight: 900;
}

.backToHomeP a {
    text-decoration: none;
}

.imageSize {
    width: 70px;
}