<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/login.css">
    </head>

    <body>
            <div id="nav">
                <div id="title">
                    <span id="title-cupom">CUPOM</span> <span id="title-mania">Mania</span>
                </div>
                <div id="descrip">
                    Resgatar cupom do seu eletrônico favorito é <em>aqui</em>!
                </div>
            </div>

            <h1>FAZER LOGIN</h1>

            <p>Sou:</p>

            <ul>
                <li><a href="/clientes">Cliente</a></li>
                <li><a href="/fornecedores">Fornecedor</a></li>
                <li><a href="/funcionarios">Funcionário</a></li>
            </ul>            
    </body>
</html>