<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CupomMania</title>
</head>
<body>
    <div>
        <div>
            CupomMania
        </div>
        <div>
            Resgatar cupom do seu eletrônico favorito é aqui!
        </div>
    </div>
    <nav>
        <li>Departamentos</li>
        <li>Sobre nós</li>
    </nav>

    <div>
        <!-- Container para promoções novas -->
    </div>

    <div>
        <!-- Container para footer da página -->
    </div>
</body> 
</html>