<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>CUPOM mania</title>
</head>
<body>
    <div id="nav">
        <div id="title">
            <span id="title-cupom">CUPOM</span> <span id="title-mania">Mania</span>
        </div>
        <div id="descrip">
            Resgatar cupom do seu eletrônico favorito é aqui!
        </div>
    </div>
    <nav>
        <li>Departamentos</li>
        <li>Sobre nós</li>
        <li>Contato</li>
        <li id="nav-login">Log-in</li>
    </nav>

    <div class="container">
        <!-- Container para promoções novas -->
        <div class="titles-body">NOVIDADES</div>
        <div class="container-flex">
            <div class="new-item">
                <div class="discount">49% off</div>
                <div>
                    Headset Gamer HyperX Cloud Stinger
                </div>
                <img src="../../../../images/products/teste1.jpg">
                <div class="price">
                    <span class="price-sign">R$</span>
                    <span class="price-value">149,99</span>
                </div>
                <button>Quero meu cupom</button>
            </div>
            <div class="new-item"><img src=""></div>
            <div class="new-item"><img src=""></div>
            <div class="new-item"><img src=""></div>
            <div class="new-item"><img src=""></div>
            <div class="new-item"><img src=""></div>
            <div class="new-item"><img src=""></div>
        </div>
    </div>

    <div>
        <!-- Container para footer da página -->
    </div>
</body> 
</html>