<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>CUPOM mania</title>
</head>
<body>
    <div id="nav">
        <div id="title">
            <span id="title-cupom">CUPOM</span> <span id="title-mania">Mania</span>
        </div>
        <div id="descrip">
            Resgatar cupom do seu eletrônico favorito é aqui!
        </div>
    </div>
    <nav>
        <li>Departamentos</li>
        <li>Sobre nós</li>
        <li>Contato</li>
        <li id="nav-login">Log-in</li>
    </nav>

    <div class="container">
        <!-- Container para promoções novas -->
        <div class="titles-body">NOVIDADES</div>
        <div class="container-flex">
            <div class="new-item">
                <div class="discount">49% off</div>
                <img src="../../../../images/products/teste1.jpg">
                <div>Headset Gamer HyperX Cloud Stinger</div>
                <div class="price">
                    <span class="price-outdated">R$ 294,00</span>
                    <span class="price-sign">R$</span>
                    <span class="price-value">149,99</span>
                </div>
                <button class="coupon-button">Quero meu cupom</button>
            </div>
            <div class="new-item">
                <div class="discount">41% off</div>
                <img src="../../../../images/products/teste2.jpg">
                <div>Pen Drive Multi Twist USB 2.0 8GB</div>
                <div class="price">
                    <span class="price-sign">R$</span>
                    <span class="price-value">13,99</span>
                </div>
                <button class="coupon-button">Quero meu cupom</button>
            </div>
            <div class="new-item">
                <div class="discount">23% off</div>
                <img src="../../../../images/products/teste3.jpg">
                <div>Microfone Gamer HyperX QuadCast S</div>
                <div class="price">
                    <span class="price-sign">R$</span>
                    <span class="price-value">769,99</span>
                </div>
                <button class="coupon-button">Quero meu cupom</button>
            </div>
            <div class="new-item">
                <div class="discount">28% off</div>
                <img src="../../../../images/products/teste4.jpg">
                <div>HUB USB 2.0 F3 com 7 Portas USB 2.0</div>
                <div class="price">
                    <span class="price-sign">R$</span>
                    <span class="price-value">24,99</span>
                </div>
                <button class="coupon-button">Quero meu cupom</button>
            </div>
            <div class="new-item">
                <div class="discount">12% off</div>
                <img src="../../../../images/products/teste5.jpg">
                <div>Mesa Digitalizadora Huion Ispiroy 420</div>
                <div class="price">
                    <span class="price-sign">R$</span>
                    <span class="price-value">351,91</span>
                </div>
                <button class="coupon-button">Quero meu cupom</button>
            </div>
            <div class="new-item"><img src=""></div>
            <div class="new-item"><img src=""></div>
        </div>
    </div>

    <button class="arrow left">
        <svg width="60px" height="80px" viewBox="0 0 50 80" xml:space="preserve">
            <polyline fill="none" stroke="#FFFFFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="
        45.63,75.8 0.375,38.087 45.63,0.375 "/>
        </svg>  
    </button>

    <button class="arrow right">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px" height="80px" viewBox="0 0 50 80" xml:space="preserve">
            <polyline fill="none" stroke="#FFFFFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="
        0.375,0.375 45.63,38.087 0.375,75.8 "/>
        </svg>
    </button>

    <div>
        <!-- Container para footer da página -->
    </div>
</body> 
</html>