<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/login.css">
    </head>

    <body>
            <div id="nav">
                <div id="title">
                    <span id="title-cupom">CUPOM</span> <span id="title-mania">Mania</span>
                </div>
                <div id="descrip">
                    Resgatar cupom do seu eletrônico favorito é <em>aqui</em>!
                </div>
            </div>

            <h1>FAZER LOGIN</h1>

            <h2>Cliente</h2>

            <form th:action="@{/clientes/login}"
            method="POST">
                <label for="login">Login</label>
                <input name="login" type="text" value="" placeholder="Login">
                <label for="senha">Senha</label>
                <input name="senha" type="password" value="" placeholder="Senha">

                <button type="submit">Entrar</button>
            </form>

            <p><a href="clientes/novo">Cadastre-se</a></p>
    </body>
</html>