<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/login.css">
    </head>

    <body>
        <a class="backToHome" href="/">
            <div id="nav">
                <div id="title">
                    <span id="title-cupom">CUPOM</span> <span id="title-mania">Mania</span>
                </div>
                <div id="descrip">
                    Resgatar cupom do seu eletrônico favorito é <em>aqui</em>!
                </div>
            </div>
        </a>

        <h1>FAZER LOGIN</h1>

        <h2>Funcionário</h2>

        <form th:action="@{/funcionarios/login}"
        method="POST">
            <label for="login">Login</label>
            <input name="login" type="text" value="" placeholder="Login">
            <label for="senha">Senha</label>
            <input name="senha" type="password" value="" placeholder="Senha">

            <button type="submit">Entrar</button>
        </form>

        <p class="backToHomeP"><a href="/">VOLTAR AO INÍCIO</a></p>   
            
            <!-- <button><a href="funcionarios/novo" class="btn btn-primary">Novo</a></button> -->
            <!-- <table class="table" id="tabclientes">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>CPF</th>
                        <th>Nome</th>                        
                        <th>Data Cadastro</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="umCliente : ${listaClientes}">
                        <td th:text="${umCliente.id}"></td>
                        <td th:text="${umCliente.CPF}"></td>
                        <td th:text="${umCliente.nome}"></td>                      
                        <td th:if="${umCliente.dataCadastro}"
                            th:text="${#dates.format(umCliente.dataCadastro, 'dd/MM/yyyy')}"></td>
                        <td th:unless="${umCliente.dataCadastro}">Não informada</td>                        
                    </tr>
                </tbody>
            </table>-->
    </body>
</html>